:root {
  --alive: #7fdb4a;
  --aliveRecent: #b2e992;
  --aliveOld: #5fa438;
  --primaryStat: #3281c7;
  --secondaryStat: #353494;
  --tertiaryStat: #ed3239;
  --whiteSpace: #f2f2f2;
  --diedNow: #cccccc;
  --deadCell: #1a1a1a;
  --tableBorder: #141414;
}

.elementaryFront {
  text-align: center;
}

.elementaryTitle {
  font-size: 64px;
  font-family: "Source Code Pro";
  font-weight: 700;
}

.elementarySubtitle {
  font-size: 32px;
  font-family: "Source Code Pro";
  font-weight: 400;
}

.elementaryRuleNumber {
  text-align: center;
  font-size: 32px;
  font-family: "Source Code Pro";
  font-weight: 700;
}

.elementaryStart {
  display: flex;
  font-size: 48px;
  justify-content: center;
  font-family: "Source Code Pro";
}

.ruleOutline {
  display: flex;
  flex-wrap: wrap;
}

.ruleOutline div {
  height: 40px;
  width: 40px;
  flex: 1 1 48px;
  border: 4px solid var(--alive);
  background-color: black;
}

.ruleOutline .on {
  background-color: var(--alive);
}

.ruleOutline .off {
  background-color: var(--deadCell);
}

.elementaryState {
}
