:root {
  --alive: #7fdb4a;
  --aliveRecent: #b2e992;
  --aliveOld: #5fa438;
  --primaryStat: #3281c7;
  --secondaryStat: #353494;
  --tertiaryStat: #ed3239;
  --whiteSpace: #f2f2f2;
  --diedNow: #cccccc;
  --deadCell: #1a1a1a;
  --tableBorder: #141414;
  --rectRuleSize: 40px;
}

.elementary-home {
  height: 100vh;
  position: relative;
}

.elementary-front {
  padding-top: 100px;
  text-align: center;
}

.elementary-title {
  font-size: 64px;
  font-family: "Source Code Pro";
  font-weight: 700;
  margin-top: 0px;
}

.elementary-subtitle {
  font-size: 32px;
  font-family: "Source Code Pro";
  font-weight: 400;
}

.elementary-rule-number {
  position: static;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 32px;
  font-family: "Source Code Pro";
  font-weight: 700;
  transition: top 0.6s, left 0.4s;
}

.elementary-rule-playing {
  position: absolute;
  top: 85%;
  left: 85%;
  transition: top 0.6s, left 0.4s;
}

.elementary-start {
  display: flex;
  font-size: 48px;
  justify-content: center;
  font-family: "Source Code Pro";
}

.elementary-button {
  position: static;
  top: 60%;
  left: 50%;
  display: flex;
  height: 10px;
  padding: 30px;
  align-items: center;
  cursor: pointer;
  color: var(--deadCell);
  font-size: 30px;
  font-weight: 800;
  background-color: var(--alive);
}

.elementary-button.stop {
  position: absolute;
  top: 87%;
  left: 5%;
  transition: top 0.6s, left 0.4s;
  background-color: var(--tertiaryStat);
}

.rules {
  display: flex;
  width: 100%;
  top: 40%;
  position: static;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.rules-playing {
  position: absolute;
  top: 82%;
  transition: top 0.4s, transform 0.4s;
  transform: scale(0.6);
}

.rule-outline {
  display: flex;
  width: 144px;
  padding: 20px;
  flex-direction: column;
}

.rule-outline:hover {
  background-color: var(--aliveRecent);
}

.rule-outline:hover .rule-def {
  background-color: var(--whiteSpace);
  border: 4px solid var(--whiteSpace);
}

.rule-outline .on,
.rule-def .on {
  background-color: var(--alive) !important;
}

.rule-outline .off,
.rule-def .off {
  background-color: var(--deadCell) !important;
}

.rule-def-outline {
  display: flex;
  width: 144px;
  flex-direction: row;
}

.rule-def {
  height: var(--rectRuleSize);
  width: var(--rectRuleSize);
  border: 4px solid var(--alive);
  background-color: black;
}

.rule-state {
  height: var(--rectRuleSize);
  width: var(--rectRuleSize);
  background-color: black;
  border: 4px solid var(--alive);
  margin: auto;
}

.rule-active {
  margin-top: 8px;
  text-align: center;
  font-size: 30px;
  font-family: "Source Code Pro";
}
