:root {
  --alive: #7fdb4a;
  --aliveRecent: #b2e992;
  --aliveOld: #5fa438;
  --primaryStat: #3281c7;
  --secondaryStat: #353494;
  --tertiaryStat: #ed3239;
  --whiteSpace: #f2f2f2;
  --diedNow: #cccccc;
  --deadCell: #1a1a1a;
  --tableBorder: #141414;
}

body {
  background-color: var(--whiteSpace);
}

table {
  height: 100%;
  width: 100%;
  border-spacing: 0px;
}

td {
  border: 1px solid var(--tableBorder);
  transition: background-color 100ms;
}

.whole {
  display: flex;
  height: 100vh;
}

.sideConfig {
  flex: 1.1;
  padding: 28px;
  font-family: "Source Code Pro";
  background-color: var(--deadCell);
}

.title {
  color: var(--whiteSpace);
  font-size: 32px;
  font-weight: 700;
}

.button {
  display: flex;
  height: 10px;
  padding: 30px;
  align-items: center;
  cursor: pointer;
  color: var(--deadCell);
  font-size: 32px;
  font-weight: 800;
  background-color: var(--alive);
}

.pauseButtons {
  display: flex;
  justify-content: space-between;
}

.play {
  background-color: var(--alive);
}

.pause {
  width: 40%;
  display: flex;
  justify-content: center;
  color: var(--whiteSpace);
  text-align: center;
  padding: 30px 10px 30px 10px;
  background-color: var(--secondaryStat);
}

.stop {
  width: 40%;
  display: flex;
  justify-content: center;
  color: var(--whiteSpace);
  text-align: center;
  padding: 30px 10px 30px 10px;
  background-color: var(--tertiaryStat);
}

.clear {
  color: var(--whiteSpace);
  background-color: var(--primaryStat);
}

.apply {
  margin-top: 20px;
  background-color: var(--whiteSpace);
}

.stats {
  color: var(--whiteSpace);
}

.options {
  color: var(--whiteSpace);
  margin-top: 20px;
}

.stats h2,
.options h2 {
  margin-bottom: 0px;
}

.stat {
  display: flex;
  margin: 8px 0px 8px 0px;
  font-weight: 300;
  font-size: 24px;
}

.amount {
  width: 70px;
}

/* stat colors */
.gen,
.live {
  color: var(--aliveOld);
}

.dead {
  color: var(--tertiaryStat);
}

.born {
  color: var(--aliveRecent);
}

.died {
  color: var(--diedNow);
}
/* end of stat colors */

.options form {
  margin-top: 20px;
}

.option {
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 0px;
  font-weight: 300;
  font-size: 24px;
}

.option input {
  width: 50px;
  font-size: 18px;
  margin-right: 20px;
  font-family: "Source Code Pro";
}

.gameTable {
  flex: 4;
  padding: 10em;
}

.aliveCell {
  background-color: var(--alive);
}

.deadCell {
  background-color: var(--deadCell);
}
